html{
	scroll-behavior: smooth;
}

body{
  width:100%;
  font-size:62.5%;
}

.animate-reveal{
		opacity:0;
		-webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5,1) 1 normal forwards;
		animation: reveal 1s cubic-bezier(0, 1, 0.5,1) 1 normal forwards;
}

.animate-second{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
	-webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
	-webkit-transform: translateY(0);
  }
}

.section{
  height:100vh;
  position:relative;
  width:100%;
  text-align:center;
}

.mid{
	padding:70px;
}

#about{
  background:url("../images/about-background.png");
  background-color:black;
  background-attachment:fixed;
  background-position:bottom;
  background-repeat:no-repeat;
  background-size:cover;
  color:#F0F8FF;	
  margin-top:-15px;
}

#portfolio{
    color:#EC407A;	
}

#icons img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: filter 1s ease-in-out;
	width:150px;
	height:150px;
}

#icons img:hover{
	-webkit-filter: grayscale(0%);
	filter:grayscale(0%);
}
  
nav ul, nav footer ul{
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 40px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li{
  display: inline;
  margin-right: 20px;
}

a{
  text-decoration: underline;
  color: #F0F8FF;
}
a:hover{
  text-decoration: underline;
  color: #F0F8FF;
}

h1{
  font-size: 3em;
  font-family: 'Quattrocento Sans', sans-serif;
}

p{
  font-size: 1.5em;
  line-height: 1.4em;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.form-style{
	display:table;
	background-color:#F5F5F5;
	width:60%;
	border-radius:10px;
	padding:15px;
}

.form-style label{
	text-align:left;
	vertical-align:middle;
	display:table-cell;
	width:15%;
	font-weight:bold;
	color:#641f8c;
}

.form-inner{
	display:table-row;
}

.form-style input[type=text],
.form-style input[type=email]{
	display:table-cell;
	padding-left:5px;
	margin:10px;
	width:88%;
	border-radius:3px;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
}

.form-style textarea{
	width:88%;
}

.form-style input[type=submit]{
	display:table-cell;
	width:50%;
	border:2px #641f8c solid;
	border-radius:6px;
	background-color:#641f8c;
	color:white;
	margin-top:15px;
}

.form-style input[type=submit]:hover{
	background-color:white;
	color:#8d19c9;
	border:2px #8d19c9 solid;
}

@media only screen and (max-device-width: 480px) {
  #about {
    background-attachment: scroll;
  }
  .form-style{
	  width:100%;
	  font-size:2em;
  }
    .form-style label{
	  display:table-row;
	  font-size:3em;
	  
  }
}
