html{
	scroll-behavior: smooth;
}

body{
  width:100%;
}

.animate-reveal{
		opacity:0;
		-webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5,1) 1 normal forwards;
		animation: reveal 1s cubic-bezier(0, 1, 0.5,1) 1 normal forwards;
}

.animate-second{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
	-webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
	-webkit-transform: translateY(0);
  }
}

.section{
  height:100vh;
  position:relative;
  width:100%;
  text-align:center;
}

.mid{
	padding:70px;
}

#about{
  background:url("../images/about-background.png");
  background-color:black;
  background-attachment:fixed;
  background-position:bottom;
  background-repeat:no-repeat;
  background-size:100% auto,cover;
  color:#F0F8FF;	
  margin-top:-15px;
}

#portfolio{
    color:#EC407A;	
}

#icons img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: filter 1s ease-in-out;
	width:150px;
	height:150px;
}

#icons img:hover{
	-webkit-filter: grayscale(0%);
	filter:grayscale(0%);
}
  
nav ul, nav footer ul{
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 40px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li{
  display: inline;
  margin-right: 20px;
}

a{
  text-decoration: underline;
  color: #F0F8FF;
}
a:hover{
  text-decoration: underline;
  color: #F0F8FF;
}

h1{
  font-size: 3em;
  font-family: 'Quattrocento Sans', sans-serif;
}

p{
  font-size: 1.5em;
  line-height: 1.4em;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

@media only screen and (max-device-width: 1366px) {
  #about {
    background-attachment: scroll;
  }
}
